​​​​​.pagination {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination button {
    width: 30px;
    height: 30px;
    font-weight: 600;
    font-size: 15px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    border-color: white;
  }
  
  .pagination button.P-active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
  }